@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');


/* --------------------------Colours */

.nav-colour {
    background-color: #fcfdfd!important;
}

.btn-blue{
    color: #f7f7f7;
    background-color: #00a8ec;
    border-color: #00a8ec;
    border-radius: 2.1875rem;
}

.btn-blue:hover{
    background-color: #009ad6;
    border-color: #009ad6;
    color: #f7f7f7;
}

.footer-base{
    background-color: #00a8ec;
}

/* --------------------------Special Padding/Margin */

body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.125rem;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0;
    padding-left: 0;
}

.container-head{
    height: 60vh;
}

.container-fluid{
    padding: 0;
}

#newsletter-header{
    margin-bottom: 0;
}

.btn-row{
    padding-left: 0.625rem;
    padding-right: 0.1875rem;
}

.box-row{
    padding-right: 0;
    margin-left: 4.1%;
}

a:hover{
    text-decoration: none;
}

.new-tab{
    margin-top: 9.375rem;
}

.card-container .new-tab{
    margin-top: 3.125rem; 
}

.redirects{
    margin-bottom: 3.125rem;
}

.card-body{
    padding-bottom: 0;
}

.contact-center{
    margin: 0 auto;
}

.lang-ol{
    margin: 0;
}

/* --------------------------Buttons */

.btn-lang{
    margin-right: 0.625rem;
    padding: 0 0.3125rem 0 0.5rem;
}

.btn-lang a{
    font-size: 1.0625rem;
}

.dropdown{
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
}

.dropdown a{
    color: #f7f7f7;
}

.dropdown-menu{
    background-color: #00a8ec;
    margin-left: -0.875rem;
}

.dropdown-menu a{
    color: #f7f7f7;
}

.dropdown-menu a:hover{
    color: #f7f7f7;
    background-color: #009ad6;
}

.btn-sub{
    border-radius: 6px;
    border-color: #f7f7f7;
    color: #f7f7f7;
    background-color: #00a8ec;
    font-weight: 600;
}

.btn-sub:hover{
    border-radius: 6px;
    color: #f7f7f7;
    background-color: #009ad6;
}

.contact-alt{
    padding-top: 3.125rem;
}

/* --------------------------Navigation Bar */

.logo{
    background: url(../images/mff-favicon.png) center no-repeat;
    background-size: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 25px 0 0.625rem;
}

.navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.navbar-nav .nav-link:hover{
    color: rgba(0,0,0,.8);
    padding-bottom: 4px;
    border-bottom: 2.5px #00a8ec solid;
    border-radius: 5%;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.activated .nav-link{
    color: #00a8ec !important;
}

.navbar-toggler-icon {
    background-image: url(../images/mff-burger-icon.png);
    background-size: 30px;
}

.navbar-toggler {
    border: none;
}

/* --------------------------Footer */
.col{
    height: 125px;
    
    margin: auto;
    
}

.footer-base{
    height: 175px;
}

.footer-header{
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: #f7f7f7;
    margin-top: 11px;
}

.connect-icons{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 20px 0px;
}

.connect-icons li{
    text-decoration: none;
    display: inline-block;
    margin: 0 0.3125rem;
}

.connect-icons li i{
    color: #f7f7f7;
    background: #00a8ec;
    font-size: 18px;
    /* Circle Icon Idea Inspired by Matt Rudge */
    width: 35px;
    height: 35px;
    padding: 13px 0px;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
}

.connect-icons li i:hover{
    background: #009ad6;
}
 
.sub-box{
    height: 29px;
    font-size: 13px;
    margin: 0 auto;
}

.sub-label{
    color: #f7f7f7;
    margin: 0;
    margin-left: 4.1%;
    font-size: 14px;
}

.copyright{
    color: rgba(255, 255, 255, 0.925);
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.creator a,
.creator i{
    padding: 0 2px;
    font-style: normal;
    color: #f7f7f7;
}

.name{
    border-bottom: 3px solid #f7f7f7;
    border-radius: 10%;
}

/* --------------------------Home Page */

.home-image{
    height: 60vh;
    background: url(../images/home-image.jpg) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head-text{
    color: #f7f7f7;
    position: absolute;
    top: 9vh;
    left: 10vw;
    padding: 56px 0px;
    height: 350px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;

    box-shadow: 2px 1.5px 6px 3px rgba(0, 0, 0, 0.3);
}

.head-text .btn-blue{
    margin-top: 0.3125rem; 
    width: 40%;
    padding: 0.625rem 0;
}

.section-header{
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
}

.icon-blue {
    font-size: 75px;
    color: #00a8ec;
    padding-bottom: 15px;
    padding-top: 0.625rem;
}

.top-tab{
    margin-top: 70px;
}

.intro p{
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}

.testimonials img{
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border: 4px solid #00a8ec;
    border-radius: 50%;
    margin-top: 40px;   
}

.quotes {
    font-size: 1.25rem;
    text-align: center;
    width: 76%;
    margin: 0 auto;
    margin-top: 30px;
}

.quotes p{
    height: 9.5rem;
}

.intro .blue-hr hr{
    width: 10rem;
}

/* --------------------------Cards */

.general-card{
    width: 18rem;
    height: 23rem;
    text-align: center;
    margin: 3.125rem auto 20px auto;
    border: 1px solid rgba(133, 133, 133, 0.329);
    box-shadow: 1.5px 1.5px 4px 1px rgba(133, 133, 133, 0.486);
}

.general-card p{
    text-align: justify;
    padding: 0 20px;
}

.facebook-pick p{
    font-size: 1rem;
}

.facebook-pick span{
    text-align: center;
    margin: 0 auto;
}

.card-button .btn-blue{
    width: 40%;
}

.location-card .card-body{
    padding: 0.5rem 1.5rem;
}

.location-card .card-body hr{
    border-top: 3px solid #00a8ec;
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
}

.location-card .card-body .card-title{
    margin-bottom: .4rem;
}

.location-card .card-body strong{
    color: #00a8ec;
}

.location-card p{
    text-align: left;
    font-size: 1rem;
}

.fav-card img{
    border-bottom: 2px solid rgba(133, 133, 133, 0.329);
}

.fav-card p{
    margin: 0.625rem 0;
    font-size: 15.5px;
}

.fav-card .card-body {
    padding-bottom: 0;
}


/* --------------------------Walk With Us Page */

.wwu-image{
    height: 60vh;
    background: url(../images/wwu-image.jpg) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wwu-text{
    padding: 110px 0px;
}

.wwu-p{
    margin: 0 auto;
    text-align: center;
    width: 85%;
    padding: 0 0 15px;
}

.wwu-muted{
    font-size: 0.95rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    padding: 0;
}

.contact-redirect .btn-blue{
    display: block;
    width: 175px;
    text-align: center;
    font-size: 1.5rem;
    margin: 15px auto 20px auto;
}

.blue-hr hr,
.contact-alt hr{
    width: 15rem;
    border-top: 4px solid #00a8ec;
    border-radius: 50%;
}

.why-walk .icon-blue{
    font-size: 40px;
    padding: 0;
}

/* --------------------------Our Favourites Page */

.of-image{
    height: 60vh;
    background: url(../images/of-image.jpg) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.of-text h1,
.of-text h2{
    font-size: 35px;
    width: 90%;
    margin: 0 auto;
    padding: 0.3125rem 0px;
}

/* --------------------------Contact Us Page */

.contact-image{
    height: 60vh;
    background: url(../images/contact-image.jpg) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-image .head-text{
    background: rgba(0, 0, 0, 0.35);
}

.contact-form{
    display: block;
}

.contact-input{
    width: 100%;
    padding: 0.3125rem;
    border: 1px solid #00a9ec;
    border-radius: 2px;
    height: 39px;
    font-size: 1rem;
}

.contact-center textarea{
    height: initial;
}

.contact-label{
    text-align: left;
    background: transparent;
    padding: 0.3125rem 0 0;
    padding-right: 35px;
}

.contact-label i{
    font-size: 8px;
    vertical-align: middle;
    color: rgb(245, 21, 21);
    padding-bottom: 4px;
    padding-left: 3px;
}

.submit-text{
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 0.3125rem;
    font-size: 1.3rem;
    font-weight: 300;
    color: grey;
}

.contact-center .btn-submit{
    width: 175px;
    text-align: center;
    font-size: 1.3rem;
    margin: 0.625rem auto;
}

.contact-alt h3{
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/* --------------------------Media Query */

/* Active for screen sizes between 992px and 576px */
@media screen and (max-width: 992px) and (min-width: 576px){
    .general-card {
        width: 14rem;
        height: 19rem;
    }

    .card-title {
        margin-bottom: .4rem;
     }

     .card-title .icon-blue {
        font-size: 67px;
        padding-bottom: 0.625rem;
        padding-top: 0px;
    }

    .general-card p {
        padding: 0 0.625rem;
        font-size: 15px;
    }

    .location-card p{
        padding: 0 0.3125rem;
        font-size: 14px;
    }

    .card-button .btn-blue {
        width: 45%;
    }

    .fav-card p {
        margin: 0.3125rem 0 0;
    }

    .fav-container .card-button .btn-blue {
        width: 39%;
        font-size: 15px;
        padding: 4px 0;
        margin-top: 15px;
    }

    .intro p {
        margin: 0 auto;
        width: 85%;
        text-align: justify;
    }
}

/* Active for screen sizes between 992px and 768px */
@media screen and (max-width: 992px) and (min-width: 768px){
    .fav-container .general-card {
        width: 14.5rem;
        height: 20.5rem;
    }

    .fav-container .card-button .btn-blue{
        margin-top: 0.3125rem;
    }
}

/* Active for screen sizes between 767px and 576px */
/* Changed to 767px to fix bug that put card with .fav-card-middle class out of line on iPad view*/
@media screen and (max-width: 767px) and (min-width: 576px){
    .fav-card-middle .general-card{
        margin-top: 25px;
    }

    .fav-container .general-card {
        width: 16rem;
        height: 21rem;
    }

    .quotes p {
        height: 12rem;
    }
}

/* Active for screen sizes under 992px */
@media (max-width: 992px) {
    .navbar-expand-md .navbar-nav {
        margin: 0 auto;
    }

    .footer-header{
        font-size: 21px;
    }

    .btn-row{
        padding-left: 0.3125rem;
    }

    .box-row{
        padding-left: 8px;
        margin-left: 0;
    }

    .sub-label{
        margin-left: -5px;
    }

    .home-image{
        height: 60vh;
        background: url(../images/home-image.jpg) no-repeat right;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .wwu-p{
        width: 90%;
    }
} 

/* Active for screen sizes under 768px */
@media (max-width: 768px) {
    .logo{
        margin: 0;
    }

    .btn-lang{
        margin: 0;
        font-size: 13px;
        padding: 1px 3px 0 0.3125rem;
        position: relative;
        left: -45px;
    }

    .footer-header{
        font-size: 16px;
    }

    .connect-icons li i {
        
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 3px;
    }

    .fav-card-middle{
        margin: auto;
    }
}

/* Active for screen sizes under 576px */
@media (max-width:576px){
    .nav-link:hover {
        width: 50%;
    }

    .footer-header{
        font-size: 20px;
    }

    .box-row {
    margin-left: 12.5%;
    }

    .sub-label{
        margin-left: 12.5%;
    }

    .connect-icons li i {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 7px;
    }

    .footer-base{
        height: 300px;
    }

    .intro{
        margin-top: 30px;
    }

    .head-text {
        position: initial;
        padding: 85px 0px;
        height: 300px;
        width: 300px;
        margin: 10% auto;
    }

    .head-text h1,
    .head-text h2{
        font-size: 25px;
    }

    .head-text .btn-blue {
        padding: 8px 0;
    }

    .of-image .head-text{
        padding: 70px 0px;
    }

    .wwu-image .head-text{
        background: rgba(0, 0, 0, 0.25);
    }

    .wwu-p{
        width: 80%;
    }

    .why-walk .section-header,
    .why-walk .section-header i{
        font-size: 30px;
    }
}
