@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Titillium+Web:200,300,400,600');

/* --------------------------Colours */

.bg-light {
    background-color: #ffffff;
}

.btn-blue{
    color: #fff;
    background-color: #00a8ec;
    border-color: #00a8ec;
    border-radius: 35px;
}

.btn-blue:hover{
    background-color: #009ad6;
    border-color: #009ad6;
}

/* --------------------------Special Padding/Margin */

body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium+Web', sans-serif;
}

.container-fluid{
    padding: 0;
}

/* --------------------------Buttons */

.btn-lang{
    margin-right: 10px;
    font-size: 16px;
    padding: 1px 5px 0 8px;
}

.dropdown{
    list-style: none;
    text-decoration: none;
    color: white;
}

.dropdown a{
    color: white;
}

.dropdown-menu{
    background-color: #00a8ec;
    margin-left: -14px;
}

.dropdown-menu a{
    color: white;
}

.dropdown-menu a:hover{
    color: white;
    background-color: #009ad6;
}



/* --------------------------Navigation Bar */

.logo{
    background: url(../images/mff-favicon.png) center no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    margin: 0 25px 0 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0,0,0,.8);
    padding-bottom: 4px;
    border-bottom: 1.5px #00a8ec solid;
    border-radius: 5%;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.activated .nav-link{
    color: #00a8ec !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../images/mff-burger-icon.png);
    background-size: 30px;
}

.navbar-light .navbar-toggler {
    border: none;
}

/* --------------------------Footer */
.col-4, .col-2{
    height: 100px;
    background-color: red;
    margin: auto;
}


/* --------------------------Media Query */

@media (max-width:576px){
    .nav-link:hover {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .logo{
        margin: 0;
    }

    .btn-lang{
        /* position: absolute;
        top: 60px;
        right: 5px; */
        margin: 0;

        font-size: 13px;
        padding: 1px 3px 0 5px;
    }
}

@media (max-width: 992px) {
    .navbar-expand-md .navbar-nav {
        margin: 0 auto;
    }
} 

