@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Titillium+Web:200,300,400,600');

/* --------------------------Colours */

.nav-colour {
    background-color: #f8f9fa!important;
}

.btn-blue{
    color: #fff;
    background-color: #00a8ec;
    border-color: #00a8ec;
    border-radius: 35px;
}

.btn-blue:hover{
    background-color: #009ad6;
    border-color: #009ad6;
    color: white;
}

.footer-base{
    background-color: #00a8ec;
}

/* --------------------------Special Padding/Margin */

body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.container-head{
    height: 60vh;
}

.container-fluid{
    padding: 0;
}

#newsletter-header{
    margin-bottom: 0;
}

.btn-row{
    padding-left: 10px;
    padding-right: 3px;
}

.box-row{
    padding-right: 0;
    margin-left: 4.1%;
}

a:hover{
    text-decoration: none;
}

/* --------------------------Buttons */

.btn-lang{
    margin-right: 10px;
    padding: 0px 5px 0 8px;
}

.btn-lang a{
    font-size: 17px;
}

.dropdown{
    list-style: none;
    text-decoration: none;
    color: white;
}

.dropdown a{
    color: white;
}

.dropdown-menu{
    background-color: #00a8ec;
    margin-left: -14px;
}

.dropdown-menu a{
    color: white;
}

.dropdown-menu a:hover{
    color: white;
    background-color: #009ad6;
}

.btn-sub{
    border-radius: 6px;
    border-color: white;
    color: #fff;
    background-color: #00a8ec;
    font-weight: 600;
}

.btn-sub:hover{
    border-radius: 6px;
    color: #fff;
    background-color: #009ad6;
}

/* --------------------------Navigation Bar */

.logo{
    background: url(../images/mff-favicon.png) center no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    margin: 0 25px 0 10px;
}

.navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.navbar-nav .nav-link:hover{
    color: rgba(0,0,0,.8);
    padding-bottom: 4px;
    border-bottom: 1.5px #00a8ec solid;
    border-radius: 5%;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.activated .nav-link{
    color: #00a8ec !important;
}

.navbar-toggler-icon {
    background-image: url(../images/mff-burger-icon.png);
    background-size: 30px;
}

.navbar-toggler {
    border: none;
}

/* --------------------------Footer */
.col{
    height: 125px;
    
    margin: auto;
    
}

.footer-base{
    height: 175px;
}

.footer-header{
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 11px;
}

.connect-icons{
    width: 100%;
    text-align: center;
    padding-inline-start: 0;
    margin: 20px 0px;
}

.connect-icons li{
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}

.connect-icons li i{
    color: #fafafa;
    background: #00a8ec;
    font-size: 18px;
    /* Circle Icon Idea Inspired by Matt Rudge */
    width: 35px;
    height: 35px;
    padding: 13px 0px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
}

.connect-icons li i:hover{
    background: #009ad6;
}
 
.sub-box{
    height: 29px;
    font-size: 13px;
    margin: 0 auto;
}

.sub-label{
    color: white;
    margin: 0;
    margin-left: 4.1%;
    font-size: 14px;
}

.copyright{
    color: rgba(255, 255, 255, 0.925);
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.creator a,
.creator i{
    padding: 0 2px;
    font-style: normal;
    color: #fff;
}

.name{
    border-bottom: 3px solid #fafafa;
    border-radius: 10%;
}

/* --------------------------Home Page */

.home-image{
    height: 60vh;
    background: url(../images/home-image.jpg) no-repeat right center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head-text{
    color: black;
    text-align: center;
    position: absolute;
    top: 20vh;
    left: 10vw;
}


/* --------------------------Media Query */

@media (max-width: 992px) {
    .navbar-expand-md .navbar-nav {
        margin: 0 auto;
    }

    .footer-header{
        font-size: 21px;
    }

    .btn-row{
        padding-left: 5px;
    }

    .box-row{
        padding-left: 8px;
        margin-left: 0;
    }

    .sub-label{
        margin-left: -5px;
    }
} 

@media (max-width: 768px) {
    .logo{
        margin: 0;
    }

    .btn-lang{
        margin: 0;
        font-size: 13px;
        padding: 1px 3px 0 5px;
    }

    .footer-header{
        font-size: 16px;
    }

    .connect-icons li i {
        
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 3px;
    }

}

@media (max-width:576px){
    .nav-link:hover {
        width: 50%;
    }

    .footer-header{
        font-size: 20px;
    }

    .box-row {
    margin-left: 12.5%;
    }

    .sub-label{
        margin-left: 12.5%;
    }

    .connect-icons li i {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 7px;
    }

    .footer-base{
        height: 300px;
    }
}